<style>
  nav ul.nav li.active span {
    font-size: {{navZoomIn}};
  }
  nav ul.nav li.dropdown.open span{
    font-size: {{navZoomIn}};
  }
  body {
    position: relative;
  }

  div.cover p {
    position: absolute; 
    top: -5%;
    left: 8%;
    color: white; 
    font-size: 25px;
  }
  div.cover p span {
    font-weight: bold; 
    font-size: 50px
  }

  div.bg-color-blue {
    background-color: {{blueColor}};
    padding-bottom: 20px;
  }
  div.bg-color-white {
    background-color: {{whiteColor}};
    padding-bottom: 20px;
  }

  div p {
    color: {{maroonColor}};
    font-style: {{fontStyle}};
    font-size: {{pZoomIn}};
  }
  div.fade-in-div {
    visibility: hidden;
  }
  h1 {
    visibility: hidden;
    font-size: {{hZoomIn}};
  }
  h2 {
    visibility: hidden;
    font-size: {{hZoomIn}};
  }
</style>