<style>
  nav ul.nav li.active span {
    font-size: {{navZoomIn}};
  }
  nav ul.nav li.dropdown.open span{
    font-size: {{navZoomIn}};
  }
  body {
    position: relative;
  }

  div.cover p {
    position: absolute; 
    top: -5%;
    left: 8%;
    color: white; 
    font-size: 25px;
  }
  div.cover p span {
    font-weight: bold; 
    font-size: 50px
  }

  div.bg-color-blue {
    background-color: {{blueColor}};
    padding-bottom: 50px;
  }
  div.bg-color-white {
    background-color: {{whiteColor}};
    padding-bottom: 50px;
  }

  div p {
    color: {{maroonColor}};
    font-style: {{fontStyle}};
    font-size: {{pZoomIn}};
  }
  div.fade-in-div {
    visibility: hidden;
  }

  .card-container {
    position: relative;
  }
  .card {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .cardfront, .cardback {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  .cardback, .card:hover .cardfront {
    transform: rotateY(-180deg);
  }
  .card:hover .cardback {
    transform: rotateY(0);
  }

  figure.img-sliding-cap-div {
    position: relative;
    overflow: hidden;
  }
  figure.img-sliding-cap-div img {
    width: 100%;
    display: block;
  }
  figure.img-sliding-cap-div figcaption {
    background-color: {{maroonColor}};
    color: {{whiteColor}};
    opacity: 0.75;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  figure.img-sliding-cap-div:hover figcaption {
    top: 0%;
  }

  .square-box{
    position: relative;
    width: 72%;
  }
  .square-box::before{
    content: "";
    display: block;
    padding-top: 100%;
  }
  .square-content-rising{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .square-content-rising div {
    display: table;
    position: relative;
    width: 100%;
    height: 70%;
    transition: height 0.2s;
  }
  .square-content-rising div:hover {
    height: 100%;
  }
  .square-content-rising span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: {{maroonColor}}
  }
  .square-content-rotating{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .square-content-rotating div {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
  }
  .square-content-rotating div:hover {
    transform: rotate(360deg);
  }
  .square-content-rotating span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: {{maroonColor}}
  }
  .square-content-growing-aspect{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .square-content-growing-aspect div {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    transition: font-size 0.5s ease, font-weight 0.5s ease;
  }
  .square-content-growing-aspect div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0%;
    height: 0%;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    transition: width 0.5s ease, height 0.5s ease;
  }
  .square-content-growing-aspect div:hover::before {
    width: 100%;
    height: 100%;
    border-color: {{maroonColor}};
  }
  .square-content-growing-aspect div::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 0%;
    height: 0%;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    transition: width 0.5s ease, height 0.5s ease;
  }
  .square-content-growing-aspect div:hover::after {
    width: 100%;
    height: 100%;
    border-color: {{maroonColor}};
  }
  .square-content-growing-aspect div:hover {
    font-size: 120%;
    font-weight: bold;
  }
  .square-content-growing-aspect span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: {{maroonColor}}
  }
</style>