<style>
  nav ul.nav li.active span {
    font-size: {{navZoomIn}};
  }
  nav ul.nav li.dropdown.open span{
    font-size: {{navZoomIn}};
  }
  body {
    position: relative;
  }
  div.bg-color-blue {
    background-color: {{blueColor}};
    padding-bottom: 10px;
  }
  div.bg-color-white {
    background-color: {{whiteColor}};
    padding-bottom: 10px;
  }
  div p {
    color: {{maroonColor}};
    font-style: {{fontStyle}};
    font-size: {{pZoomIn}};
  }
  div.fade-in-div {
    visibility: hidden;
  }
  h1 {
    font-family: cursive;
    font-size: {{hZoomIn}};
    text-align: center;
  }
</style>