<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <!-- Customized Bootstrap ID: http://getbootstrap.com/customize/?id=72ec431f424d2d1fb68bab1c2dab1458 -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!-- JQuery CDN File -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    {{> style}}
  </head>

  <body data-spy="scroll" data-target="#scrollspy-target-nav">
    <nav id="scrollspy-target-nav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img class="img-responsive" alt="Brand" src="{{signature}}">
          </a>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about-me-h"><span>{{aboutMe}}</span></a></li>
          <li><a href="#my-edu-h"><span>{{myEdu}}</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="navbarDropProf" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span>{{myProf}}</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropProf">
              <li class><a href="#my-prof-goal-h">My Goal</a></li>
              <li class><a href="#my-prof-skills-h">My Skills</a></li>
              <li class><a href="#my-prof-projects-h">My Projects</a></li>
            </ul>
          </li>
          <li><a href="#contact-me"><span>{{contactMe}}</span></a></li>
        </ul>
      </div>
    </nav>

    <div style="position: relative;" class="cover">
      <img alt="Placeholder" src="{{zhuhaiImg}}" style="width: 100%;">
      <p>Welcome to <span>Fanchao's</span> Personal Page!</p>
    </div>

    <div class="container-fluid bg-color-blue" id="about-me-div">
      <h1 id="about-me-h">{{aboutMe}}</h1>
      <div id="about-me-content" class="row fade-in-div">
        <div id="about-me-content-img" class="col-md-3"></div>
        <div id="about-me-content-text" class="col-md-9"></div>
      </div>
    </div>
    
    <div class="container-fluid bg-color-white" id="my-edu-div">
      <h1 id="my-edu-h">{{myEdu}}</h1>
      <div id="my-edu-content" class="row fade-in-div"></div>
    </div>

    <div class="container-fluid bg-color-blue" id="my-prof-div">
      <h1 id="my-prof-h" style="font-size: 0%">{{myProf}}</h1>
      <div id="my-prof-content" class="fade-in-div">
        <div id="my-prof-goal">
          <h2 id="my-prof-goal-h">My Goal</h2>
          <div id="my-prof-goal-content">
            <p>
              I am a software engineer now. And not only that, <span style="font-weight: bold;">I also want to become a GOOD software engineer</span>. As far as I see, the future of software engineering is shaped by the following <span id="num-of-aspects"></span> aspects, which I should work on for my goal:
            </p>
            <div id="my-prof-goal-aspects" class="row"></div>
          </div>
        </div>

        <div id="my-prof-skills">
          <h2 id="my-prof-skills-h">My Skills</h2>
          <div id="my-prof-skills-content">
            <!-- PlaceHolder -->
          </div>
        </div>

        <div id="my-prof-projects">
          <h2 id="my-prof-projects-h">My Projects</h2>
          <div id="my-prof-projects-content">
            <!-- PlaceHolder -->
          </div>
        </div>
      </div>
    </div>

    <h1 id="contact-me">{{contactMe}}</h1><img alt="Placeholder" src="http://placehold.it/300x800/F0FD00">

    <script type="text/javascript">
      $.getJSON('/about', {}, function(data){
        var img = $(`<img class="img-responsive img-circle" alt="My Picture" src="${data.myImg}" style="width: 256px; height: 256px; vertical-align: middle;">`);
        var selfIntro = $(`<p>${data.selfIntro}</p>`);

        $('#about-me-div #about-me-content #about-me-content-img').append(img);
        $('#about-me-div #about-me-content #about-me-content-text').append(selfIntro);
      }).fail(function(evt) {
        $('#about-me-h').after($('<p style="color: red; font-weight: bold">Could NOT load self introduction!</p>'));
      });

      $.getJSON('/edu', {}, function(data) {        
        if(data.forEach) {
          data.forEach((edu) => {
            addOneEdu(edu);
          });
        } else {
          addOneEdu(data);
        }
      }).fail(function(evt) {
        $('#my-edu-h').after($('<p style="color: red; font-weight: bold">Could NOT load education records!</p>'));
      });

      $.getJSON('/profession/aspects', {}, function(aspects) {
        var aspectsDiv = $('div#my-prof-goal-content div#my-prof-goal-aspects');

        $('div#my-prof-goal-content span#num-of-aspects').append(`${aspects.length}`);
        aspects.forEach((aspect) => {
          var figDiv = $('<div class="col-md-3"></div>');
          var fig = $('<figure class="img-sliding-cap-div"></figure>');
          var img = $(`<img alt="${aspect.name}" src=${aspect.imgLink}></img>`);
          var figCap = $('<figcaption></figcaption>');

          aspectsDiv.append(figDiv);
          figDiv.append(fig);
          fig.append(img);
          fig.append(figCap);
          figCap.append(`<h3>${aspect.name}</h3>`);
          figCap.append(`<p style="color: #ffffff;">${aspect.depiction}</p>`);
        });
      }).fail(function(evt) {
        $('div#my-prof-goal-aspects').append('<p style="color: red; font-weight: bold">Could NOT load Profession-related information!</p>');
      });

      $('#scrollspy-target-nav').on('activate.bs.scrollspy', function (event) {
        var activeSect = $(event.target).find('span'), activeSectName;

        if(activeSect.length > 1) {
          activeSect = activeSect[ 0 ];
        }
        activeSectName = $(activeSect).text();
        $('h1').each((idx, ele) => {
          if($(ele).text() === activeSectName) {
            var contentDiv = $(ele).siblings('div.fade-in-div');
            if(contentDiv.css('visibility') === 'hidden') {
              contentDiv.hide().css('visibility', 'visible').fadeIn(1200);
            }
          }
        });
      });

      $(document).ready(() => {
        $("div.cover").find('p').animate({top: "15%"}, 900);
      });

      function addOneEdu(edu) {
        var eduSect = $('#my-edu-div #my-edu-content');
        var curEduSect = $('<div class="col-md-4"></div>');
        var curEduThumbnail = $('<div class="thumbnail"></div>');
        var caption = $('<div class="caption"></div>');
        var schoolLink = $(`<a href=${edu.schoolWebLink}></a>`);
        var schoolLogoImg = $(`<img src="${edu.schoolLogoLink}" alt="School Logo" style="height: 168px;">`);
        var schoolImg = $(`<img src="${edu.schoolImgLink}" alt="School Image" style="height: 168px">`);

        eduSect.append(curEduSect);
        curEduSect.append(curEduThumbnail);
        curEduThumbnail.append(schoolLink);
        schoolLink.append(schoolLogoImg);
        curEduThumbnail.append(caption);
        caption.append(`<h4>${edu.schoolName}</h4>`);

        if(edu.major) {
          caption.append(`<p>Degree Earned: ${edu.degreeEarned} in ${edu.major}</p>`);
        } else {
          caption.append(`<p>Degree Earned: ${edu.degreeEarned}</p>`);
        }

        if(edu.gpa) {
          caption.append(`<p>gpa: ${edu.gpa}</p>`);
        } else {
          caption.append('<p>gpa: Not Available</p>');
        }

        schoolLink.hover(() => {
          schoolLogoImg.remove();
          schoolLink.append(schoolImg);
        }, () => {
          schoolImg.remove();
          schoolLink.append(schoolLogoImg);
        });
      }
    </script>
  </body>
</html>