<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <!-- Customized Bootstrap ID: http://getbootstrap.com/customize/?id=72ec431f424d2d1fb68bab1c2dab1458 -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!-- JQuery CDN File -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    {{> style}}
  </head>

  <body data-spy="scroll" data-target="#scrollspy-target-nav">
    <nav id="scrollspy-target-nav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img class="img-responsive" alt="Brand" src="{{signature}}">
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about-me-h"><span>{{aboutMe}}</span></a></li>
          <li><a href="#my-edu-h"><span>{{myEdu}}</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="navbarDropProf" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span>{{myProf}}</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropProf">
              <li class><a href="#my-prof-goal">My Goal</a></li>
              <li class><a href="#my-prof-skills">My Skills</a></li>
              <li class><a href="#my-prof-projects">My Projects</a></li>
            </ul>
          </li>
          <li><a href="#contact-me"><span>{{contactMe}}</span></a></li>
        </ul>
      </div>
    </nav>

    <img alt="Placeholder" src="{{zhuhaiImg}}" style="width:100%;">

    <div class="container-fluid bg-color-blue" id="about-me-div">
      <h1 id="about-me-h">{{aboutMe}}</h1>
      <div id="about-me-content" class="row fade-in-div">
        <div id="about-me-content-img" class="col-md-3"></div>
        <div id="about-me-content-text" class="col-md-9"></div>
      </div>
    </div>
    
    <div class="container-fluid bg-color-white" id="my-edu-div">
      <h1 id="my-edu-h">{{myEdu}}</h1>
      <div id="my-edu-content" class="row fade-in-div">
      </div>
    </div>

    <h1 id="my-prof">{{myProf}}</h1>
    <h2 id="my-prof-goal">My Goal</h1><img alt="Placeholder" src="http://placehold.it/300x200/20FABC">
    <h2 id="my-prof-skills">My Skills</h1><img alt="Placeholder" src="http://placehold.it/300x200/20FABC">
    <h2 id="my-prof-projects">My Projects</h1><img alt="Placeholder" src="http://placehold.it/300x200/20FABC">

    <h1 id="contact-me">{{contactMe}}</h1><img alt="Placeholder" src="http://placehold.it/300x800/F0FD00">

    <script type="text/javascript">
      console.log('{{rootURL}}'+"/about");
      $.getJSON('{{rootURL}}'+'/about', {}, function(data){
        var img = $(`<img class="img-responsive img-circle" alt="My Picture" src="${data.myImg}" style="width: 256px; height: 256px">`);
        var selfIntro = $(`<p>${data.selfIntro}</p>`);

        $('#about-me-div #about-me-content #about-me-content-img').append(img);
        $('#about-me-div #about-me-content #about-me-content-text').append(selfIntro);
      }).fail(function(evt) {
        $('#about-me-h').after($('<p style="color: red; font-weight: bold">Could NOT load self introduction!</p>'));
      });

      $.getJSON('{{rootURL}}'+'/edu', {}, function(data) {        
        if(data.forEach) {
          data.forEach((edu) => {
            addOneEdu(edu);
          });
        } else {
          addOneEdu(data);
        }
      }).fail(function(evt) {
        $('#my-edu-h').after($('<p style="color: red; font-weight: bold">Could NOT load education records!</p>'));
      });

      $('#scrollspy-target-nav').on('activate.bs.scrollspy', function (event) {
        var activeSect = $(event.target).find('span'), activeSectName;

        if(activeSect.length > 1) {
          activeSect = activeSect[ 0 ];
        }
        activeSectName = $(activeSect).text();
        $('h1').each((idx, ele) => {
          if($(ele).text() === activeSectName) {
            var contentDiv = $(ele).siblings('div.fade-in-div');
            if(contentDiv.css('visibility') === 'hidden') {
              contentDiv.css('visibility', 'visible').hide().fadeIn(1250);
            }
          }
        });
      });

      function addOneEdu(edu) {
        var eduSect = $('#my-edu-div #my-edu-content');
        var curEduSect = $('<div class="col-md-4"></div>');
        var curEduThumbnail = $('<div class="thumbnail"></div>');
        var caption = $('<div class="caption"></div>');
        var schoolLink = $(`<a href=${edu.schoolWebLink}></a>`);
        var schoolLogoImg = $(`<img src="${edu.schoolLogoLink}" alt="School Logo" style="height: 168px;">`);
        var schoolImg = $(`<img src="${edu.schoolImgLink}" alt="School Image" style="height: 168px">`);

        eduSect.append(curEduSect);
        curEduSect.append(curEduThumbnail);
        curEduThumbnail.append(schoolLink);
        schoolLink.append(schoolLogoImg);
        curEduThumbnail.append(caption);
        caption.append(`<h4>${edu.schoolName}</h4>`);

        if(edu.major) {
          caption.append(`<p>Degree Earned: ${edu.degreeEarned} in ${edu.major}</p>`);
        } else {
          caption.append(`<p>Degree Earned: ${edu.degreeEarned}</p>`);
        }

        if(edu.gpa) {
          caption.append(`<p>gpa: ${edu.gpa}</p>`);
        } else {
          caption.append('<p>gpa: Not Available</p>');
        }

        schoolLink.hover(() => {
          schoolLogoImg.remove();
          schoolLink.append(schoolImg);
        }, () => {
          schoolImg.remove();
          schoolLink.append(schoolLogoImg);
        });
      }
    </script>
  </body>
</html>