figure.img-sliding-cap-div {
	width: 300px; /*Redundant, only for the purpose of this demo*/
	position: relative;
	overflow: hidden;
}

figure.img-sliding-cap-div img {
	width: 100%;
	display: block;
}

figure.img-sliding-cap-div figcaption {
	background-color: #400000;
	color: #ffffff;
	opacity: 0.4;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100%;
	transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

figure.img-sliding-cap-div:hover figcaption {
	top: 0%;
}